* {
  margin: 0;
  padding: 0;
}
.start-to-explore-double-tap{
  display:flex;
  flex-direction: column;
 }

#exploreBlock {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
  text-align: center;
 }

.exploreIcons{
  display: flex;
  margin:2%;
  justify-content: space-around;
}

#eIcon1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  border: 1px solid gray;
  padding: 5%;
  width: 40px;
  Height: 40px;
  border-radius: 10px;
  background-color: #0850f8;
}
p2 {
  font-size: 35px;
}
.eIcon{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  padding: 5%;
  width: 40px;
  Height:40px;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
}

.start-accepting-payments{
  display:flex;
  border: 1px solid gray;
  border-radius: 10px;
  height:450px;
  align-items:center;
  margin:5%;
}
.cardBenefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius:0px 10px 10px 0px;
  background-color: #0850F8;
  width:800px;
  height: 450px;
  padding-left: 30px;
  color:beige;
}
 ul {
   list-style-type: none;
   padding: 0;
}

 li::before {
   content: "-";
   color:beige;
   font-size: 18px;
   margin-right: 5px;
}
#learn-more-btn{
  width:30%;
  height: 30px;
  color:beige;
  border: 2px solid beige;
  background-color: #0850F8;
  border-radius: 5px;
}
