.start-to-explore-double-tap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.start-to-explore-double-tap h2 {
  margin-top: 30px;
}

.icons {
  height: 100%;
  width: 100%;
}

#exploreBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.exploreIcons {
  display: flex;
  justify-content: space-around;
  margin: 0 400px;
  margin-top: 50px;
}

.eIcon:first-child div {
  position: relative;
  color: black;
  font-size: 40px;
  top: -35%;
  margin: -20%;
  padding: 0;
}

#exploreImage img {
  height: auto;
  width: 750px;
  padding: 223.7px 0;
  border: 1px solid black;
  border-right: 0px solid black;
  border-radius: 10px;
}

.eIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
}

#first-icon {
  background-color: #0850f8;
  color: white;
}

.eIcon img {
  height: 60px;
  width: auto;
  margin-bottom: 20px;
}

#eIcon1 {
  width: 80px;
  height: auto;
}

.start-accepting-payments {
  width: 100%;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cardBenefits {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border: 1px solid black;
  border-radius: 0px 10px 10px 0px;
  background-color: #0850f8;
  width: 1000px;
  height: 900px;
  padding-left: 30px;
  color: beige;
}

.cardBenefits li {
  font-size: 20px;
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li::before {
  content: "-";
  color: beige;
  font-size: 18px;
  margin-right: 5px;
}
#learn-more-btn {
  width: 30%;
  height: 50px;
  color: beige;
  border: 2px solid beige;
  background-color: #0850f8;
  border-radius: 5px;
}
